@tailwind base;
@tailwind components;
@tailwind utilities;


.Card{
  box-shadow:white 40px 40px 80px 80px
}
#demo {
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  margin-top: 0px;
  /* color: whitesmoke; */
  --tw-text-opacity: 1;
  color: rgba(249, 250, 251, var(--tw-text-opacity));

}


.timerText {
  /* text-align: center; */
  font-size: 26px;
  margin-top: 0px;
}
.h1{
  font-size: 60px;
  /* line-height: 1.5; */
  font-family: "Sacramento", Arial, serif;

}

.ard:hover{box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1);;
  border-radius: 10px;}

  .transUP{
    position: absolute;
  
  }
  .transUP a{
    bottom: -60px;
    left: -50%;
    transform: translateY(-50%);
    transition: all .4s ease;
  }

  .rating{
    font-size: .7rem;
    color: #b81c1c;
    user-select: none;
}
.ard{
  position: relative;
}
.CartBtn{
  /* position: absolute; */
  bottom:2px;
  width: 100%;
  text-align: center;
}
.photoIcons{
  /* padding: 5px;
  background-color: black;
  color: #b81c1c;
  clip-path: circle(); */
  /* height: 50px;
  width: 50px; */
  position :absolute;
  bottom:67%;
  left:31%;
  align-self: center;
  justify-self: center;
  display:none;
  font-size: 30px;
  /* padding:20px; */
}
@media (min-width: 768px) {
  .photoIcons{
    left:27%;

  }
}

.ard:hover  .photoIcons{
  display: block;
 /* transform: translateY(-30px);  */
 transition:5s;
}






.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}
.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #2b6cb0;  /*Set to match the Tailwind colour you want the active one to be */
}



.modal {
  transition: opacity 0.25s ease;
}
body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}